nav{
    background-color: black;
} 

nav ul{
    display: flex;
    padding: 18px;
    justify-content: center;
}

nav li{
    margin: 10px;
}

nav a{
    position: relative;
    font-size: 19px;
    font-family: 'Amiri', serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

i{
    float: right;
}

/* nav a:hover {
    animation: jump 3s ease;
}

@keyframes jump {
    0% {bottom: 0}
    50% {bottom: 8px;}
    100%{bottom: 0}
} */

.current{
    border-bottom: 1px solid aquamarine;
    font-weight: bold;
    color: aquamarine;
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 2px;
    padding: 4px;
    box-sizing: border-box;
    border: dashed white;
}

img:hover {
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2px;
}

#banner{
    position: relative;
    background-image: url("../img/banner.png");
    width: 100vw;
    height: 56vw;
    background-size: contain;
    animation: flyin 1s ease;
}

@keyframes flyin {
    from{
        right: 1000px;
    }
    to{
        right: 0
    }
}

@media (prefers-reduced-motion) {
    #banner{
      animation: none;
    }
  }

  #film_body {
    display: grid;
  }

  main {
    overflow: hidden;
  }

  footer{
    height: 10vw;
    background-image: url(../img/footer.jpeg);
    background-size: cover;
  }