.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
    /*Your code here - position relative to the parent */
    /*Your code here - place 500px left and 40px higher */;
  }

  .skip a:focus{
    background: white;
    top: 0;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
  }

nav{
    background-color: black;
} 

nav ul{
    display: flex;
    padding: 18px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

nav li{
    margin: 10px;
}

nav a{
    position: relative;
    font-size: 19px;
    font-family: 'Amiri', serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

i{
    float: right;
}

/* nav a:hover {
    animation: jump 3s ease;
}

@keyframes jump {
    0% {bottom: 0}
    50% {bottom: 8px;}
    100%{bottom: 0}
} */

.current{
    border-bottom: 1px solid aquamarine;
    font-weight: bold;
    color: aquamarine;
}


img {
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
    margin: 2px;
    padding: 4px;
    box-sizing: border-box;
    border: dashed white;
}

img:hover {
    padding: 0;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2px;
    justify-content: center;
}

#banner{
    position: relative;
    background-image: url("../img/banner.png");
    width: 100vw;
    height: 56vw;
    background-size: contain;
    animation: flyin 1s ease;
}

h1{
    font-size: 20px;
    font-weight:bold;
}

.awards figure{
    padding: 0 10px 20px 40px;
}

.a1 figcaption{
    padding-left: 180px;
}

.a2 figcaption{
    padding-left: 180px;
    padding-bottom: 20px;
}

@keyframes flyin {
    from{
        right: 1000px;
    }
    to{
        right: 0
    }
}

@media (prefers-reduced-motion) {
    #banner{
      animation: none;
    }
  }

  #film_body {
    display: grid;
  }

  #index_body {
    display: grid;
  }

  #awards_body {
    display: grid;
  }

  #articles_body {
    display: grid;
  }

  .wkw{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 450px 450px 1fr;
  }

  .wkw img{
    width: 300px;
  }

  #w1{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    justify-self: center;
  }

  #w2{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    justify-self: center;
  }

  .awards{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 180px 180px 1fr;
  }


  .awards img{
    width: 300px;
  }

  #a1{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    justify-self: center;
  }

  #a2{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    justify-self: center;
  }

  .articles{
    display: grid;
  }

  footer{
    height: 10vw;
    background-image: url(../img/footer.jpeg);
    background-size: cover;
  }

  #description{
    padding: 10px;
    font-family: 'Amiri', serif;
  }

  #history{
    padding: 10px;
    padding-top: 40px;
    font-family: 'Amiri', serif;
  }

  #welcome{
    font-family: 'Amiri', serif;
    padding: 10px;
  }

  .articles p{
    padding: 10px;
    font-family: 'Amiri', serif;
  }

  .articles h1{
    padding: 10px;
    font-family: 'Amiri', serif;
  }

  .articles img{
    max-width: 100% ;
  }

  form{
    margin: 20px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

form #email{
    display: block;
    padding: 10px;
    display: block;
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

textarea[name=message], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


form #message{
    display: block;
    padding: 10px;
    display: block;
}


button[type=submit] {
    width: 100%;
    background-color:aquamarine;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  @media screen and (min-width: 768px){
    .wkw{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 450px 1fr;
    }
    #w1{
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        justify-self: center;
      }
    
    #w2{
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        justify-self: center;
      }

    #description{
        grid-column: 1 / span 2;
    }

    .awards{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 180px 1fr;
    }

    .awards figcaption{
        display: none;
    }

    #a1{
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        justify-self: center;
        margin-top: 10px;
      }
    
    #a2{
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        justify-self: center;
        margin-top: 10px;
      }

    #history{
        grid-column: 1 / span 2;
    }

    .articles{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: start;
        margin-top: 20px;
      }
    
      .article1{
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        width: 100%;
      }
    
      .article2{
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        width: 100%;
      }
    
      .article3{
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        width: 100%;
      }

      nav ul{
        flex-direction: row;
    }
      #movie{
        display: none;
      }

    
  }



  @media screen and (min-width: 968px){
    .wkw{
        grid-template-columns: 500px 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #w1{
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        justify-self: end;
        margin-right: 40px;
        margin-top: 30px;
      }
    
    #w2{
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        justify-self: end;
        margin-right: 40px;
      }

    #description{
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
        padding-right: 100px;
        margin-top: 30px;
    }

    .awards{
        grid-template-columns: 500px 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #a1{
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        justify-self: start;
        margin-left: 150px;
        margin-top: 70px;
      }
    
    #a2{
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        justify-self: start;
        margin-left: 150px;
        margin-top: 50px;
      }

    #history{
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
        padding-right: 100px;
        margin-top: 5px;
    }

    .articles{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: start;
        margin-top: 20px;
      }
    
      .article1{
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        width: 100%;
      }
    
      .article2{
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        width: 100%;
      }
    
      .article3{
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
        width: 100%;
      }

  }
    
  